/* custom CSS stuff will go here */

#profile-pic {
    width: auto;
    height: 300px;
    margin-bottom: 60px;
    margin-top: -30px;
    filter: grayscale(50%);
}

/* #form-message-box {
    clear: both;
} */

#form-submit-btn {
    width: 100%;
}
